/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-dic-2020, 15:11:39
    Author     : Roxana
*/

body {
    background-image: url("../Imatges-parc/fondo_pag.jpg");
    background-repeat: no-repeat;    
    background-size: 3000px;
}
header {
    display: inline;
    text-align: center;
    margin: 10px;
} 

header img{
    width: 220px;
    heigth: 220px;
    vertical-align: middle;
}

nav {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 25px 100px;
}

nav ul li {
    display: inline;
}

.titol{
     font-variant:small-caps;
     font-size: 6em;
     color: black;
}

.linknav {
    font-size: 2em;
    background-color: #00cccc;   
    text-decoration: none;
    font-family: Lucida, sans-serif;
    text-align: center;
    padding: 12px 50px;  
    
}
.linknav:hover{
    background-color: white;
}

section {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

section h2 {
    font-size: 3em;
    color: white;
    font-variant: small-caps;
    font-family: Lucida, sans-serif;
    text-align: center;
}

caption {
    font-size: 3em;
    color: white;
    font-family: Lucida, sans-serif;
}

.mes {
border-style: solid;
border-spacing: 80px 50px;
background-color: rgba(0, 0, 0, 0.9);
margin: 0px 70px;
}

.listames {
    display: inline;
}

section ul{
    background-color: rgba(255, 255, 255, 0.9);
}
.mes tr {
    color: white;
}

td {
    font-size: 2em;
}

section ul li img {
    vertical-align: middle;
}
.linkmes {
   text-decoration: none;
   font-size: 3em;
   padding: 10px 170px;
   font-variant: small-caps;
}

footer{
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    font-size: 2em;
    color: white;
}

